# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [4]:
path= 'https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/apple_store.csv'

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [5]:
data = pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [ ]:
data.head()

### 5. Print the summary (info) of the data.

In [7]:
data.info

<bound method DataFrame.info of               id                                         track_name  \
0      281656475                                    PAC-MAN Premium
1      281796108                          Evernote - stay organized
2      281940292    WeatherBug - Local Weather, Radar, Maps, Alerts
3      282614216  eBay: Best App to Buy, Sell, Save! Online Shop...
4      282935706                                              Bible
5      283619399                                   Shanghai Mahjong
6      283646709             PayPal - Send and request money safely
7      284035177                            Pandora - Music & Radio
8      284666222                        PCalc - The Best Calculator
9      284736660                                        Ms. PAC-MAN
10     284791396                          Solitaire by MobilityWare
11     284815117                                   SCRABBLE Premium
12     284815942               Google – Search made just for mobile
13     284847138                   Bank of America - Mobile Banking
14     284862767                                           FreeCell
15     284876795             TripAdvisor Hotels Flights Restaurants
16     284882215                                           Facebook
17     284910350     Yelp - Nearby Restaurants, Shopping & Services
18     284993459  Shazam - Discover music, artists, videos & lyrics
19     285005463                      Crash Bandicoot Nitro Kart 3D
20     285946052                                             iQuran
21     285994151                                        :) Sudoku +
22     286058814    Yahoo Sports - Teams, Scores, News & Highlights
23     286070473                          Mileage Log | Fahrtenbuch
24     286799607                        Cleartune - Chromatic Tuner
25     286906691          Lifesum – Inspiring healthy lifestyle app
26     286911400                                           Hangman.
27     288113403      iTranslate - Language Translator & Dictionary
28     288120394                                           TouchOSC
29     288419283                                         RadarScope
...          ...                                                ...
7167  1182265441                      脱出ゲーム　わたしをみつけて　-おじいさんとわたしの物語-
7168  1182331762                      Escape from the frigid Igloo.
7169  1182568288        Talking Santa - Video santa claus calls you
7170  1183234072                                          CTFxCmoji
7171  1183260922                    Room Escape Game - Santa's Room
7172  1183548754                               Rescue the Enchanter
7173  1183709176                                 My Diary - 你的名字非官方
7174  1183856228  VR Thrills: Roller Coaster 360 (Google Cardboard)
7175  1183986102   Santa Kids Hair Salon - Christmas Makeover Games
7176  1184711626                                 Human Juggling Cup
7177  1184800011                           Again - room escape game
7178  1185209084                                  Saloons Unleashed
7179  1185328193             Fam — Group video calling for iMessage
7180  1185365336                   Laurie Hernandez the Human Emoji
7181  1185428381                                               剑倚手游
7182  1185538497                                  camera for filter
7183  1185580782                                    Survivalcraft 2
7184  1185731859                                    剑客情缘-高爆率高掉落天天疯玩
7185  1185777521                                     问仙奇遇-新玩法新套装嗨到爆
7186  1186108496                 脱出ゲーム - 書道教室 -  "漢字"の謎に満ちた部屋からの 脱出
7187  1186126548                          Escape Game: illumination
7188  1186384912       Demolition Derby Virtual Reality (VR) Racing
7189  1187128255                         飞刀传奇-动作武侠热血江湖即时PK传奇（登录爆金装）
7190  1187279979                       Add-Ons Studio for Minecraft
7191  1187282363                         Plead the Fifth - The Game
7192  1187617475                                              Kubik
7193  1187682390                                  VR Roller-Coaster
7194  1187779532              Bret Michaels Emojis + Lyric Keyboard
7195  1187838770          VR Roller Coaster World - Virtual Reality
7196  1188375727                       Escape the Sweet Shop Series

      size_bytes  price  rating_count_tot  rating_count_ver  user_rating  \
0      100788224   3.99             21292                26          4.0
1      158578688   0.00            161065                26          4.0
2      100524032   0.00            188583              2822          3.5
3      128512000   0.00            262241               649          4.0
4       92774400   0.00            985920              5320          4.5
5       10485713   0.99              8253              5516          4.0
6      227795968   0.00            119487               879          4.0
7      130242560   0.00           1126879              3594          4.0
8       49250304   9.99              1117                 4          4.5
9       70023168   3.99              7885                40          4.0
10      49618944   4.99             76720              4017          4.5
11     227547136   7.99            105776               166          3.5
12     179979264   0.00            479440               203          3.5
13     160925696   0.00            119773              2336          3.5
14      55153664   4.99              6340               668          4.5
15     207907840   0.00             56194                87          4.0
16     389879808   0.00           2974676               212          3.5
17     167407616   0.00            223885              3726          4.0
18     147093504   0.00            402925               136          4.0
19      10735026   2.99             31456              4178          4.0
20      70707916   1.99              2929               966          4.5
21       6169600   2.99             11447               781          5.0
22     130583552   0.00            137951               131          4.0
23      71203840   5.99                 8                 0          4.5
24      11423008   3.99              3241               297          4.0
25     188017664   0.00              5795                12          3.5
26       4765696   0.00             42316               248          3.0
27     287933440   0.00            123215                25          3.5
28       4263936   4.99               782                 7          4.0
29     172772352   9.99              3449                23          4.0
...          ...    ...               ...               ...          ...
7167   177498112   0.00                 1                 1          1.0
7168    89188352   0.00                 3                 3          4.0
7169    32685056   2.99                 9                 3          3.0
7170    26077184   0.00                39                 4          5.0
7171   143346688   0.00                10                10          5.0
7172   242505728   3.99                55                29          4.5
7173    18164736   0.99                 0                 0          0.0
7174   169535488   0.00                14                 4          4.0
7175    64244736   0.00                41                19          4.5
7176   184324096   0.00                 0                 0          0.0
7177    33946624   0.00                11                 8          4.0
7178   327731200   0.99                 0                 0          0.0
7179   113382400   0.00               279                 5          3.5
7180    94008320   0.00                26                 3          5.0
7181   178160640   0.99                 0                 0          0.0
7182     9362432   0.00                 0                 0          0.0
7183    57349120   3.99               292               292          4.0
7184   171944960   0.00                 0                 0          0.0
7185   208026624   0.99                 0                 0          0.0
7186    85580800   0.00                 1                 1          2.0
7187    52342784   0.00                23                23          4.5
7188   168774656   0.00                18                18          4.0
7189   537462784   0.99                 0                 0          0.0
7190    22999040   2.99                97                97          3.0
7191    27853824   2.99                11                 0          4.0
7192   126644224   0.00               142                75          4.5
7193   120760320   0.00                30                30          4.5
7194   111322112   1.99                15                 0          4.5
7195    97235968   0.00                85                32          4.5
7196    90898432   0.00                 3                 3          5.0

      user_rating_ver        prime_genre
0                 4.5              Games
1                 3.5       Productivity
2                 4.5            Weather
3                 4.5           Shopping
4                 5.0          Reference
5                 4.0              Games
6                 4.5            Finance
7                 4.5              Music
8                 5.0          Utilities
9                 4.0              Games
10                4.5              Games
11                2.5              Games
12                4.0          Utilities
13                4.5            Finance
14                4.5              Games
15                3.5             Travel
16                3.5  Social Networking
17                4.5             Travel
18                4.5              Music
19                3.5              Games
20                4.5          Reference
21                5.0              Games
22                4.5             Sports
23                0.0           Business
24                4.0              Music
25                4.0   Health & Fitness
26                3.5              Games
27                5.0       Productivity
28                3.5              Music
29                4.5            Weather
...               ...                ...
7167              1.0              Games
7168              4.0              Games
7169              3.5      Entertainment
7170              5.0  Social Networking
7171              5.0              Games
7172              4.5              Games
7173              0.0          Utilities
7174              3.5              Games
7175              4.5              Games
7176              0.0              Games
7177              4.0              Games
7178              0.0              Games
7179              3.0  Social Networking
7180              5.0          Utilities
7181              0.0              Games
7182              0.0      Photo & Video
7183              4.0              Games
7184              0.0              Games
7185              0.0              Games
7186              2.0              Games
7187              4.5              Games
7188              4.0              Games
7189              0.0              Games
7190              3.0              Games
7191              0.0              Games
7192              4.5              Games
7193              4.5              Games
7194              0.0          Utilities
7195              4.5              Games
7196              5.0              Games

[7197 rows x 9 columns]>

### 6. Print the number of columns in the data.

In [8]:
len(data.columns)

9

### 7. Print all column names.

In [9]:
print(data.columns.values)

['id' 'track_name' 'size_bytes' 'price' 'rating_count_tot'
 'rating_count_ver' 'user_rating' 'user_rating_ver' 'prime_genre']

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [10]:
len(data)

7197

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [11]:
user_rating = set(data['user_rating'])
user_rating

{0.0, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0}

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [12]:
data['user_rating'].mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [13]:
user_rating_high = data.loc[data['user_rating'] >= 4]

Now obtain the length of `user_rating_high` which should return 4781.

In [14]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [15]:
genres = set(data['prime_genre'])
print (genres)

{'Finance', 'News', 'Book', 'Navigation', 'Health & Fitness', 'Utilities', 'Weather', 'Productivity', 'Business', 'Social Networking', 'Medical', 'Travel', 'Photo & Video', 'Entertainment', 'Food & Drink', 'Reference', 'Music', 'Catalogs', 'Education', 'Games', 'Sports', 'Lifestyle', 'Shopping'}

Print the length of the unique values of `genres`. Your code should return 23.

In [16]:
len(genres)

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [17]:
count = data.groupby(['prime_genre'])['prime_genre'].agg(['count']).reset_index()\
        .sort_values('count', ascending = False)
count.head()

      prime_genre  count
7           Games   3862
4   Entertainment    535
3       Education    453
14  Photo & Video    349
21      Utilities    248

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [18]:

free_apps = data.loc[data['price'] == 0]
freeapp = free_apps.groupby(['prime_genre'])['prime_genre'].agg(['count']).reset_index()\
                .sort_values('count', ascending = False)
freeapp

          prime_genre  count
7               Games   2257
4       Entertainment    334
14      Photo & Video    167
18  Social Networking    143
3           Education    132
17           Shopping    121
21          Utilities    109
9           Lifestyle     94
5             Finance     84
19             Sports     79
8    Health & Fitness     76
11              Music     67
0                Book     66
15       Productivity     62
13               News     58
20             Travel     56
6        Food & Drink     43
22            Weather     31
12         Navigation     20
16          Reference     20
1            Business     20
2            Catalogs      9
10            Medical      8

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [21]:
proporcion= pd.merge(freeapp, count, on=['prime_genre'], how='inner')
proporcion['prop'] = proporcion['count_x']/proporcion['count_y']
proporcion[['prime_genre','prop']].sort_values('prop', ascending = False)

          prime_genre      prop
5            Shopping  0.991803
21           Catalogs  0.900000
3   Social Networking  0.856287
8             Finance  0.807692
14               News  0.773333
9              Sports  0.692982
15             Travel  0.691358
16       Food & Drink  0.682540
7           Lifestyle  0.652778
1       Entertainment  0.624299
12               Book  0.589286
0               Games  0.584412
11              Music  0.485507
2       Photo & Video  0.478510
6           Utilities  0.439516
18         Navigation  0.434783
17            Weather  0.430556
10   Health & Fitness  0.422222
20           Business  0.350877
13       Productivity  0.348315
22            Medical  0.347826
19          Reference  0.312500
4           Education  0.291391

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [22]:
data[['prime_genre','price']].groupby(['prime_genre']).mean().sort_values(['price'],ascending=False)

                      price
prime_genre
Medical            8.776087
Business           5.116316
Reference          4.836875
Music              4.835435
Productivity       4.330562
Navigation         4.124783
Education          4.028234
Health & Fitness   1.916444
Book               1.790536
Utilities          1.647621
Weather            1.605417
Food & Drink       1.552381
Photo & Video      1.473295
Games              1.432923
Travel             1.120370
Sports             0.953070
Entertainment      0.889701
Lifestyle          0.885417
Catalogs           0.799000
News               0.517733
Finance            0.421154
Social Networking  0.339880
Shopping           0.016311